NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
TWITCH_IGDB_CLIENT_ID=
TWITCH_IGDB_CLIENT_SECRET=
PUZZLE_MIN_VALID_OPTIONS=30
PUZZLE_GENERATION_MAX_ATTEMPTS=12
PUZZLE_VALIDATION_SAMPLE_SIZE=40
